@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-lexend: 'Lexend', sans-serif;

  --color-primary: #1d4ed8;
  --color-primary-hover: #1e40af;
  --color-secondary: #f3f4f6;
  --color-background: #f8faff;
  --color-card: #fff;
  --color-text-main: #111827;
  --color-text-muted: #6b7280;

  --animate-infinite-scroll: infinite-scroll 40s linear infinite;
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50% - 16px));
    }
  }
}

@layer base {
  body {
    @apply font-lexend text-text-main selection:bg-primary overflow-x-hidden selection:text-white;
  }

  #root {
    @apply grid min-h-screen grid-rows-[auto_1fr_auto];
  }
}

@utility section {
  @apply container mx-auto p-4 lg:px-8;
}

@utility input {
  @apply focus:outline-primary w-full rounded-2xl border border-gray-200 bg-gray-100 px-4 py-2;
}

@utility button {
  @apply bg-primary flex items-center justify-center gap-2 rounded-2xl px-4 py-2 text-white transition-transform duration-300 text-shadow-white hover:scale-98;
}
